<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cinephile</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="assets/styles/theme/simple-sidebar.css" rel="stylesheet">

    <link href="assets/styles/index.css" rel="stylesheet">


</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cinephile</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Movies</a>
                    </li>
                    <li>
                        <a href="#">Actors</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" placeholder="Search">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                      </span>
                    </div><!-- /input-group -->

                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">
                <div class="row">
                    <div id="cinephileapp" class="col-lg-12">
                        <header>
                          <h1>Recent Movies</h1>
                        </header>

                        <section id="content" style="display: block;">
                          <div id="recent-movies">
                            
                          </div>
                          <div id="movies-list">
                            
                          </div>
                          <div id="actors-list">
                            
                          </div>
                          <div id="movie-detail">
                            
                          </div>
                          <div id="actor-detail">
                            
                          </div>
                        </section>
                        
                        <footer style="display: block;">

                        </footer>
                    </div>
                </div>
    </div>
    <div class="footer">
      <div class="container">
        <p class="text-muted">Copyright © Cinephile 2014</p>
      </div>
    </div>
    <!-- Templates -->
    <script type="text/template" id="movies-list-template">

        <% _.each(data, function(item) { %>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="#/movies/detail/<%= item.id %>">
                        <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                    </a>
                    <p><%= item.get('name')%></p>
            </div>
        <% }); %>
    </script> 

      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>

      <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.9/backbone.localStorage-min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="scripts/app.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
