<% if (data.length > 0) { %>
<header>
	<h4>Relates Movies</h4>
	<hr>
</header>
<% }; %>
<% _.each(data, function(item) { %>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#/movies/detail/<%= item.id %>">
                <img class="img-responsive" src="<%= item.get('image') ? item.get('image') : 'http://placehold.it/400x300' %>" alt="">
            </a>
            <p style="text-align:center"><strong><%= item.get('name')%></strong></p>
    </div>
<% }); %>