<header>
  <h3>Cast</h3>
</header>
<hr />
<table class="table striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Birth Date</th>
    </tr>
  </thead>
  <tbody>
  <% _.each(data, function(item) { %>
    <tr>
      <td><%= item.get('firstName') %></td>
      <td><%= item.get('lastName') %></td>
      <td><%= item.get('gender') %></td>
      <td><%= item.get('birthDate') %></td>
      <td>
        <button type="button" class="btn btn-default btn-sm delete-actor-from-movie" data-id="<%= item.id %>">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
    </tr>
  <% }); %>
  </tbody>
</table>
<button type="button" class="btn btn-primary btn-sm show-actor-to-movie pull-right">
    <span class="glyphicon glyphicon-plus"></span>Add
</button>
<button type="button" class="btn btn-primary btn-sm close-actor-to-movie pull-right" style="display:none">
    <span class="glyphicon glyphicon-close"></span>Back
</button>
